.mediaViewInfo {
	--web-view-name: work page;
	--web-view-id: work_page;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: work_page;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#work_page {
	position: absolute;
	width: 1440px;
	height: 3145px;
	background-color: rgba(32,32,32,1);
	overflow: hidden;
	--web-view-name: work page;
	--web-view-id: work_page;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
@keyframes  {


}
#Landing_Page {
	position: absolute;
	width: 1440px;
	height: 786px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Footer {
	fill: rgba(255,255,255,1);
}
.Footer {
	position: absolute;
	overflow: visible;
	width: 1440px;
	height: 71px;
	left: 0px;
	top: 3074px;
}
#Nav {
	position: absolute;
	width: 448px;
	height: 35px;
	left: 816px;
	top: 30.152px;
	overflow: visible;
}
#Nav_l {
	fill: transparent;
}
.Nav_l {
	position: absolute;
	overflow: visible;
	width: 448px;
	height: 18px;
	left: 0px;
	top: 0.848px;
}
#ABOUT {
	left: 339.935px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 109px;
	height: 35px;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: Contact.html;
	cursor: pointer;
	text-align: left;
	font-family: Kanit;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#WORKS {
	left: 191.93px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 83px;
	height: 35px;
	text-align: left;
	font-family: Kanit;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#HOME {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 35px;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
	text-align: left;
	font-family: Kanit;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#Mode_Switch {
	position: absolute;
	width: 55px;
	height: 27px;
	left: 1304px;
	top: 36px;
	overflow: visible;
}
#Mode_Switch_q {
	fill: transparent;
}
.Mode_Switch_q {
	position: absolute;
	overflow: visible;
	width: 55px;
	height: 27px;
	left: 0px;
	top: 0px;
}
#Rectangle_3 {
	fill: rgba(255,255,255,1);
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 55px;
	height: 27px;
	left: 0px;
	top: 0px;
}
#Vector {
	fill: transparent;
}
.Vector {
	overflow: visible;
	position: absolute;
	width: 16.5px;
	height: 16.617px;
	left: 5px;
	top: 5.383px;
	transform: matrix(1,0,0,1,0,0);
}
#Vector_t {
	fill: transparent;
}
.Vector_t {
	overflow: visible;
	position: absolute;
	width: 10.193px;
	height: 13.402px;
	left: 11.807px;
	top: 5px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_8 {
	fill: rgba(0,0,0,1);
}
.Ellipse_8 {
	position: absolute;
	overflow: visible;
	width: 17px;
	height: 17px;
	left: 33px;
	top: 5px;
}
#Project_4 {
	position: absolute;
	width: 1120px;
	height: 404px;
	left: 160px;
	top: 2157px;
	overflow: visible;
}
#Project_4_w {
	position: absolute;
	width: 652px;
	height: 404px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#iphone14pro_4 {
	fill: transparent;
}
.iphone14pro_4 {
	display: none;
	position: absolute;
	overflow: visible;
	width: 656px;
	height: 479px;
	left: 115px;
	top: 133px;
}
#Frame_11 {
	position: absolute;
	width: 443px;
	height: 404px;
	left: 677px;
	top: 0px;
	overflow: visible;
}
#Frame_11_z {
	position: absolute;
	width: 443px;
	height: 404px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Project_3 {
	position: absolute;
	width: 1122px;
	height: 404px;
	left: 160px;
	top: 1728px;
	overflow: visible;
}
#Project_3_ {
	position: absolute;
	width: 499px;
	height: 404px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Frame_11_ {
	position: absolute;
	width: 603px;
	height: 404px;
	left: 519px;
	top: 0px;
	overflow: visible;
}
#Frame_11_ba {
	position: absolute;
	width: 603px;
	height: 404px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Project_2 {
	position: absolute;
	width: 1120px;
	height: 404px;
	left: 163px;
	top: 1299px;
	overflow: visible;
}
#Project_2_ {
	position: absolute;
	width: 1120px;
	height: 404px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Project_1 {
	position: absolute;
	width: 652px;
	height: 404px;
	left: 163px;
	top: 870px;
	overflow: visible;
}
#Frame_11_bb {
	position: absolute;
	width: 444px;
	height: 404px;
	left: 837px;
	top: 870px;
	overflow: visible;
}
#Frame_11_bc {
	position: absolute;
	width: 444px;
	height: 404px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Made_With_Love {
	left: 609px;
	top: 3098px;
	position: absolute;
	overflow: visible;
	width: 223px;
	height: 24px;
	line-height: 24px;
	margin-top: -4px;
	text-align: left;
	font-family: Kanit;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(32,32,32,1);
}
#Project_3_ba {
	position: absolute;
	width: 1120px;
	height: 404px;
	left: 160px;
	top: 2586px;
	overflow: visible;
}
#Project_3_bb {
	position: absolute;
	width: 1120px;
	height: 404px;
	left: 0px;
	top: 0px;
	overflow: visible;
}