body{
    background-image: url(a5bg.png);
}

h1{
    color: black;
    background-color: white;
    font-weight: bold;
    font-family: Helvetica;
    padding: 10px 10px;
    margin: 10px 10px;
}


nav{
    margin:0px;
    padding:0px;
}

nav ul{
    list-style-type: none;
     margin: 0;
     padding: 0;
 }
 
 nav li {
  width: 150px;
  padding: 5px 5px;
  margin: 5px 10px;
  background-color: darkblue;
  display: inline-block;
 }
 
 nav li a{
     color: white;
     text-decoration: none;
     font-family: kanit;
     display: block;
     text-align: center;
     padding: 5px 5px;
     /*margin: 10px 10px;*/
 }

 nav li a:visited{
    color: white;
    text-decoration: none;
}

 
 nav li a:hover{
     color: yellow;
     text-decoration: none;
     background-color: rgb (2, 2, 58);
 }


 main{
    margin: 10px 10px;
    padding: 10px 10px;
    background-color: white;
}

h2{
    font-family: Helvetica;
    font-weight: bolder;

}

.borderbottom{
    border-bottom: 2px solid black;
}

a{
    font-weight: bold;
    text-decoration:none ;   
}

a:visited{
    color: red;   
}

a:hover{
    color: darkgreen;   
}

.justified{
    text-align: justify;
}

.bluebox{
    color: white;
    font-family: kanit;
    font-style: italic;
    text-align: center;
    margin: 0px solid white;
    padding: 10px 10px;
    border: 3px solid white; 
    background-color: darkblue;
}